<!DOCTYPE html>
<html lang="en">
<head>
    <title>Simple login system</title>
    <meta charset="UTF-8">
    <meta name="author" content="Lucas Ariel">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <form action="/form" method='post'>
            <input type="text" name="userName" placeholder='Name'>
            <input type="password" name="userPassword" placeholder='Password'>
            <input type="submit">
        </form>
    </div>
</body>
</html>
